#bibleText {
   padding: 0 10px 20px 10px;
   font-size: rem-calc(18);
   line-height: rem-calc(28);
   position: relative;
   z-index: 50;
   @media #{$medium-up} {
      font-size: rem-calc(23);
      line-height: rem-calc(37);
   }
   a {
      color: lighten($secondary-color, 1%);
      text-shadow: 2px 1px 1px #BFBFBF;
      &.xrefLink,
      &.footnoteLink {
         display: none;
      }
   }
   .chapterNum {
      font-size: rem-calc(45);
      @media #{$medium-up} {
         font-size: rem-calc(55);
      }
      a {
         color: lighten($secondary-color, 5%);
      }
   }
   .verseNum {
      font-size: rem-calc(17);
      text-shadow: 2px 1px 1px #BFBFBF;
      @media #{$medium-up} {
         font-size: rem-calc(22);
      }
   }
   .parabreak {
      display: block;
      height: 0;
   }
   .style-l {
      display: inline;
      padding: 0;
      text-indent: 0;
   }
   .style-z {
      text-indent: -1.5em;
      padding-left: 3em;
      display: block;
   }
   sup {
      top: -0.2em;
      left: .2em;
   }
}
