#bibleText {
   padding: 0 10px 20px 10px;
   font-size: rem-calc(20);
   line-height: rem-calc(28);
   position: relative;
   @media #{$medium-up} {
      font-size: rem-calc(23);
      line-height: rem-calc(37);
   }
   a {
      color: lighten($primary-color, 1%);
      text-shadow: 1px 0 0 #7F7F7F;
      &.xrefLink,
      &.footnoteLink {
         display: none;
      }
      &:hover {
         text-shadow: 2px 0 0 #000;
      }
   }
   .chapterNum {
      font-size: rem-calc(55);
      .readingMode & {
         display: none;
      }
      @media #{$medium-up} {
         font-size: rem-calc(65);
      }
      a {
         color: lighten($primary-color, 5%);
      }
   }
   .verseNum {
      font-size: rem-calc(17);
      text-shadow: 1px 0 0 #595959;
      .readingMode & {
         display: none;
      }
      @media #{$medium-up} {
         font-size: rem-calc(22);
      }
   }
   .parabreak {
      display: block;
      height: 5px;
      .readingMode & {
         height: 20px;
      }
   }
   .style-l {
      display: inline;
      padding: 0;
      text-indent: 0;
   }
   .style-z {
      text-indent: -1.5em;
      padding-left: 3em;
      display: block;
   }
   sup {
      top: -0.2em;
      left: .2em;
   }
}
