#bibleText {
   padding: 0 10px 20px 10px;
   font-size: 1.4rem;
   line-height: 2.4rem;
   position: relative;
   font-family: $body-font-family;
   a {
      color: lighten($primary-color, 1%);
      &.xrefLink,
      &.footnoteLink {
         display: none;
      }
      &:hover {
         text-shadow: 1px 0 1px #585858;
      }
   }
   .chapterNum {
      font-size: 3.5rem;
      font-weight: bold;
      .readingMode & {
         display: none;
      }
      a {
         color: lighten($primary-color, 5%);
      }
   }
   .verseNum {
      font-size: 1.2rem;
      .readingMode & {
         display: none;
      }
   }
   .parabreak {
      display: block;
      height: 5px;
      .readingMode & {
         height: 20px;
      }
   }
   .style-l {
      display: inline;
      padding: 0;
      text-indent: 0;
   }
   .style-z {
      text-indent: -1.5em;
      padding-left: 3em;
      display: block;
   }
   sup {
      top: -0.2em;
      left: .2em;
   }
}
