nav.tab-bar .viewTitle {
   font-size: rem-calc(25);
   font-weight: 200;
}

#bibleText {
   padding: 0 15px;
   @media #{$medium-up} {
      padding: 0 25px;
   }
   a {
      color: lighten($primary-color, 20%);
   }
   .chapterNum {
      font-size: rem-calc(60);
      a {
         color: lighten($primary-color, 5%);
      }
   }
   .verseNum {
      font-size: rem-calc(18);
   }
   .style-b {
      font-size: rem-calc(20);
      line-height: rem-calc(30);
      @media #{$medium-up} {
         font-size: rem-calc(25);
         line-height: rem-calc(35);
      }
   }
   sup {
      top: -0.2em;
      left: .2em;
   }
}

.left-off-canvas-menu {
   padding-top: 45px;
}

select {
   padding: 0 5px;
   font-family: $header-font-family;
   font-size: rem-calc(17);
   color: white;
}

.siteTitle {
   @media #{$small-only} {
      font-size: rem-calc(28);
   }
}

.NewReaderButton {
   padding-top: 0.5rem;
   padding-right: 1rem;
   padding-bottom: 0.5625rem;
   padding-left: 1rem;
   font-size: 0.8125rem;
   @media #{$medium-up} {
      padding-top: 1rem;
      padding-right: 1.5rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      font-size: 1rem;
   }
}

.viewDestroy {
   font-size: rem-calc(25);
   padding-left: 10px;
   padding-top: 10px;
   color: darken($tabbar-bg, 20%);
}

#template {
   display: none;
}
