nav.tab-bar {
   z-index: 10;
}

// .left-off-canvas-menu {
//    padding-top: 45px;
// }

// .bibleNav {
//    display: block;
//    height: 50px;
//    clear: both;
//    margin-bottom: 15px;
// }

select {
   width: auto;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   cursor:pointer;
   border:none;
   outline:none;
}

.sel-book {
   padding-right: 5px;
   margin-top: 5px;
   font-family: $header-font-family;
   font-size: rem-calc(25);
   background: #919FAC;
   color: white;
   float: left;
   border-right: 1px dotted #5F707E;
}
.sel-chapter {
   @extend .sel-book;
   padding-left: 10px;
}

section.right-small {
   width: auto;
   overflow: hidden;
   border-left: solid 1px #6d8091;
   box-shadow: 1px 0 0 #9facb7;
}
