nav.tab-bar {
   z-index: 10;
}

select {
   @media #{$small-only} {
      max-width: 120px;
   }
   width: auto;
   max-width: 150px;
   padding:2px 20px 2px 3px;
   margin: 5px 0 0 0;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   font-family: $header-font-family;
   font-size: rem-calc(23);
   background: darken($tabbar-bg, 10%);
   color:#F0F0F0;
   border:none;
   outline:none;
   display: inline-block;
   -webkit-appearance:none;
   -moz-appearance:none;
   // FF Hack to remove arrow
   text-indent: 0.01px;
   text-overflow: '';
   appearance:none;
   cursor:pointer;
   &.sel-lang {
      max-width: 95%;
      font-size: rem-calc(16);
   }
}
label {
   position: relative;
   &:after {
      content:'<>';
      font-size: rem-calc(15);
      font-family: "Consolas", monospace;
      color:darken($tabbar-bg, 30%);
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
      transform:rotate(90deg);
      right:5px;
      position:absolute;
      pointer-events:none;
   }
}

section.right-small {
   width: auto;
   overflow: hidden;
   border-left: solid 1px #6d8091;
   box-shadow: 1px 0 0 #9facb7;
}
