#template {
   display: none;
}

.siteTitle {
   @media #{$small-only} {
      font-size: rem-calc(23);
      text-align: center;
   }
   @media #{$medium} {
      font-size: rem-calc(40);
   }
   @media #{$medium-up} {
      float: left !important;
      line-height: rem-calc(70);
   }
   @media #{$large} {
      font-size: rem-calc(55);
   }
}

.button {
   @media #{$small-only} {
      padding-right: 0;
      padding-left: 0;
      margin-top: 0;
      float: left;
   }
   padding: .5rem 1rem;
   margin-top: 1rem;
   font-size: 0.8125rem;
   @media #{$medium-up} {
      padding: 1rem 1.5rem;
      font-size: 1rem;
   }
}

.darkMode {
   background-color: #1E1E1E;
   color: #EAEAEA;
   .button {
      background: darken($primary-color, 20%);
      &:hover { 
         background: $primary-color;
      }
   }
   .light {
      color: $header-font-color;
   }
   .siteTitle {
      color: lighten($header-font-color, 30%);
   }
   .viewBookName {
      color: #4A4A4A;
      text-shadow: none;
   }
   nav.tab-bar,
   select {
      background: #404040;
      color: #ccc;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
   }
   select {
      background: #2C2C2C;
   }
   .barIcon {
      color: #6F6F6F;
   }
   section.right-small,
   .barIcon {
      border-left: solid 1px #495661;
      box-shadow: none;
   }
   .text-section {
      background-color: #1E1E1E;
      color: #EAEAEA;
      border: 1px solid #7D7D7D;
      @media #{$small-only} {
         border: none;
         border-bottom: 1px solid #7D7D7D;
      }
   }
   .nextChapter {
      background-color: lighten(#1E1E1E, 5%);
      &:hover {
         background-color: lighten(#1E1E1E, 5%);
      }
   }
   #bibleText {
      a {
         color: saturate($tabbar-bg, 20%);
         text-shadow: none;
      }
      .chapterNum {
         a {
            color: saturate($tabbar-bg, 20%);
         }
      }
      .verseNum {
         text-shadow: none;
      }
   }
}
