#template {
   display: none;
}

.siteChrome {
   text-align: center;
   margin: .5rem 0;
}

.siteTitle {
   display: inline-block;
   margin: 0 1rem 0 0;
   line-height: 1.5;
   font-size: 1rem;
   // @media #{$small-only} {
   //    font-size: rem-calc(17);
   // }
   // @media #{$medium} {
   //    font-size: rem-calc(30);
   // }
   // @media #{$medium-up} {
   //    line-height: rem-calc(60);
   // }
}

.button {
   margin: 0;
   padding: .5rem 1rem;
   font-size: 1rem;
   line-height: 1.5;
   background-color: inherit;
   color: #888888;
   // @media #{$medium-up} {
   //    padding: .5rem 1rem;
   //    font-size: 1.2rem;
   // }
}

$header-font-color: red;

.darkMode {
   background-color: #1E1E1E;
   color: #EAEAEA;
   .light {
      color: $header-font-color;
   }
   .siteTitle {
      color: lighten($header-font-color, 30%);
   }
   .viewBookName {
      color: #4A4A4A;
      text-shadow: none;
   }
   .viewChrome,
   select {
      background: #4C4C4C;
      color: #ccc;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
   }
   select {
      background: #4C4C4C;
   }
   .barIcon {
      color: #ccc;
   }
   .text-section {
      background-color: #1E1E1E;
      color: #EAEAEA;
      border: 1px solid #7D7D7D;
      // @media #{$small-only} {
      //    border: none;
      //    border-bottom: 1px solid #7D7D7D;
      // }
   }
   .nextChapter, .prevChapter {
      background-color: lighten(#1E1E1E, 5%);
      &:hover {
         background-color: lighten(#1E1E1E, 5%);
      }
   }
   #bibleText {
      a {
         color: saturate(#ccc, 20%);
         text-shadow: none;
      }
      .chapterNum {
         a {
            color: saturate(#ccc, 20%);
         }
      }
      .verseNum {
         text-shadow: none;
      }
   }
}
