.siteLogo {
   @media #{$small-only} {
      display: none;
   }
   float: left;
   max-height: 60px;
   margin: .5rem .5rem 0 0;
}

.siteTitle {
   @media #{$small-only} {
      font-size: rem-calc(23);
      text-align: center;
   }
   @media #{$medium-up} {
      float: left !important;
   }
}

.NewReaderButton {
   @media #{$small-only} {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      margin-top: 0;
   }
   padding-top: 0.5rem;
   padding-right: 1rem;
   padding-bottom: 0.5625rem;
   padding-left: 1rem;
   margin-top: 1rem;
   font-size: 0.8125rem;
   @media #{$medium-up} {
      padding-top: 1rem;
      padding-right: 1.5rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      font-size: 1rem;
   }
}
