
.aView {
   margin-bottom: 20px;
}

nav.tab-bar .viewTitle {
   @media #{$small-only} {
      text-align: left;
      font-size: rem-calc(15);
   }
}

.barIcon {
   font-size: rem-calc(30);
   line-height: rem-calc(45);
   width: 2.8125rem;
   height: 2.8125rem;
   padding: 8px;
   color: darken($tabbar-bg, 20%);
   &:hover {
      color: $secondary-color;
   }
}

.icon-trash,
.icon-expand,
.icon-contract {
   border-left: solid 1px #6d8091;
}

.icon-contract {
   @media #{$small-only} {
      display: none;
   }
}

.icon-colorMode {
   &:hover {
      color: #FFF;
   }
}

.icon-trash {
   &:hover {
      color: $primary-color;
   }
}

.text-section {
   background-color: #EEEEEE;
   color: #1B1B1B;
   border: 1px solid #ccc;
   padding: 0 15px 20px;
   @media #{$medium-up} {
      padding: 0 25px 30px;
   }
}

.darkMode {
   background-color: #1E1E1E;
   color: #EAEAEA;
   #bibleText {
      a {
         color: saturate($tabbar-bg, 20%);
         text-shadow: none;
      }
      .chapterNum {
         a {
            color: saturate($tabbar-bg, 20%);
         }
      }
      .verseNum {
         text-shadow: none;
      }
   }
}

#template {
   display: none;
}
