.aView {
   margin-bottom: 20px;
}

.viewBookName {
   position: relative;
   text-align: right;
   font-size: rem-calc(30);
   line-height: rem-calc(28);
   color: #D6D6D6;
   text-shadow: 1px 1px 10px #D6D6D6;
   z-index: 1;
   @media #{$medium} {
      font-size: rem-calc(37);
      line-height: rem-calc(34);
   }
   @media #{$large} {
      font-size: rem-calc(53);
      line-height: rem-calc(48);
   }
}

.barIcon {
   font-size: rem-calc(30);
   line-height: rem-calc(45);
   width: 2.8125rem;
   height: 2.8125rem;
   padding: 8px;
   color: darken($tabbar-bg, 20%);
   &:hover {
      color: $secondary-color;
   }
}

.langButton img {
   position: relative;
   display: block;
   float: left;
   max-height: 2rem;
   margin-top: .4rem;
   margin-right: 10px;
}

.langContainer {
   display: none;
   &.visible {
      display: block;
      position: absolute;
      background-color: $tabbar-bg;
      box-shadow: 1px 1px 4px black;
      padding:5px;
      width: 90%;
      top: 3.4rem;
      left: 10px;
      @include css-arrow(top, $tabbar-bg, 0.5rem);
   }
}

.icon-close {
   border-left: solid 1px #6d8091;
   @media #{$small-only} {
      border-left: none;
   }
}

.icon-contract,
.icon-expand {
   @media #{$small-only} {
      display: none;
   }
}

.icon-colorMode {
   &:hover {
      color: #FFF;
   }
}

.icon-close {
   &:hover {
      color: $primary-color;
   }
}

.text-section {
   background-color: #EEEEEE;
   color: #1B1B1B;
   border: 1px solid #ccc;
   padding: 0 5px 20px;
   @media #{$medium-up} {
      padding: 0 25px 30px;
   }
}

.nextChapter {
   position: absolute;
   right: 6px;
   bottom: 1px;
   padding: 7px 13px;
   background: darken(#EEEEEE, 5%);
   &:hover {
      background: darken(#EEEEEE, 15%);
   }
}

