@import "normalize";
@import "settings";

@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
   "foundation/components/accordion",
   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
   "foundation/components/grid",
   "foundation/components/labels",
   "foundation/components/magellan",
   "foundation/components/pagination",
   "foundation/components/panels",
   "foundation/components/reveal",
   "foundation/components/side-nav",
   "foundation/components/split-buttons",
   "foundation/components/sub-nav",
   "foundation/components/switch",
   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
   "foundation/components/offcanvas",
   "foundation/components/visibility";

@import "icons";
@import "page";
@import "overrides";
@import "view";
@import "bibleText";
@import "jetzt";
@import "loading";
