@import "normalize";

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
$primary-color: #D09B37;
$secondary-color: #4EAB7A;
$chrome-bgColor: #CBCBCB;

@import "icons";
@import "typography";
@import "page";
@import "overrides";
@import "view";
@import "bibleText";
@import "jetzt";
@import "loading";